@use "../../../src/styles/theme.module.scss" as theme;

.container {
  padding: 70px;
  height: calc(100vh - 140px); 
  background-color: #f4e9d6;
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 40px;
  flex-grow: 1;
  align-items: stretch;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.imagePicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.9;
  margin-top: 30px;

  .imagePreview {
    height: 300px;
    width: 100%;
    max-width: 500px; 
    background: #d6ccbc;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
    font-family: theme.$font-merge-one, sans-serif;
    text-align: center;
    font-size: 1.2rem;
  }
  

  .imageinputButton {
    background: #436d5d;
    border: none;
    padding: 15px 30px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "M PLUS 1p", sans-serif;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-color: #365144;
    }
  }

  .fileInput {
    display: none;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  input,
  textarea {
    padding: 15px;
    border: 1px solid #ccc;
    background: #d6ccbc;
    border-radius: 10px;
    font-size: 1rem;
    font-family: theme.$font-merge-one, sans-serif;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  .currency {
    font-size: 1rem;
    color: #757575;
    font-family: theme.$font-merge-one, sans-serif;
    margin-left: 10px;
  }
}

.dimensions {
  display: flex;
  gap: 20px;

  .inputGroup {
    flex: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  margin-left: -20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelButton {
  background: #b9a078;
  border: none;
  padding: 15px 30px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.submitButton {
  background: #436d5d;
  border: none;
  padding: 15px 30px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.locationPicker {
    display: flex;
    align-items: center;
    gap: 10px; 
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: #d6ccbc;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #bfb5a6;
    }
}

.locationIcon {
    width: 24px;
    height: 24px;
}

.locationText {
    font-size: 1rem;
    font-weight: 500;
    font-family: theme.$font-merge-one, sans-serif;
    color: #545454;
}

.additionalServices{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    font-family: theme.$font-merge-one, sans-serif;
    background-color: #d6ccbc;

    h3{
        font-size: 1.5rem;
        font-weight: bold;
        color: #293b3f;
        margin: 0 0 10px 10px;
        text-transform: uppercase;
    }

    input[type="checkbox"] {
        margin-right: 10px;
        
    }
}
@media (max-width: 768px) {
  .container {
    padding: 20px; 
    height: auto; 
    margin-top: 40px; 
  }

  .additionalServices{
    margin: 10px 0;
  }

  .content {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
  }

  .right {
    margin-bottom: 0; 
  }

  .imagePicker {
    align-items: center;

    .imagePreview {
      height: 200px; 
      width: 100%; 
      max-width: 300px; 
      margin-bottom: 15px;
    }

    .imageinputButton {
      padding: 12px 20px; 
      font-size: 0.9rem; 
    }
  }

  .inputGroup {
    gap: 15px; 
    margin-bottom: 10px;

    input,
    textarea {
      font-size: 1rem; 
      padding: 12px; 
      border-radius: 8px; 
    }

    textarea {
      height: 100px; 
    }
  }

  .dimensions {
    flex-direction: column; 
    gap: 10px; 
  }

  .buttons {
    position: relative; 
    margin-top: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
    width: 100%; 
    margin-left: 0;
  }

  .cancelButton,
  .submitButton {
    width: 100%; 
    max-width: 400px; 
    padding: 12px; 
    font-size: 1rem; 
    text-align: center; 
    border-radius: 8px; 
  }

  .currency {
    margin-left: 5px; 
    text-align: center; 
  }
}